<div class="signup-view">
  <h2>新規登録</h2>
  
  <div class="flash-message" id="flash-message">
    
  </div>
  
  <form id="signup-form" method="post">
    <div>
      <label for="user_account">アカウントID:</label>
      <input type="text" name="user_account" id="user_account" autocomplete="username">
    </div>
    <div>
      <label for="password">パスワード:</label>
      <input type="password" name="password" id="password" autocomplete="new-password">
    </div>
    <div>
      <label for="password2">パスワード(確認):</label>
      <input type="password" name="password2" id="password2" autocomplete="new-password">
    </div>
    <div>
      <label for="display_name">ニックネーム:</label>
      <input type="text" name="display_name" id="display_name" autocomplete="name">
    </div>
    <input type="submit" value="登録する">
  </form>
  <p>既にアカウントがある? ほな<a href="/login">ログイン</a>やな</p>


  <script src="/assets/js/signup.js" type="application/javascript"></script>
</div>
